.contact_logo {
    width: 50px;
    margin: 12px;
    cursor: pointer;
    transition: transform .5s ease;
}

@media screen and (max-width: 992px) {
    .contact_logo {
        width: 40px;
        margin: 12px;
        cursor: pointer;
    }
}

