@media screen and (max-width: 768px) {
    .descriptions {
        margin: 0 100px;
    }

    .desc-row {
        flex-direction: column;
        margin-top: 150px;
    }

    .desc-row.desc-2,
    .desc-row.desc-4 {
        flex-direction: column-reverse;
    }

    .desc-row > img,
    .desc-row.desc-2 > img,
    .desc-row.desc-4 > img {
        margin: 0;
        width: 300px;
    }

    .description {
        width: 300px;
        margin-top: 50px;
    }
}