@import '~antd/dist/antd.css';

body {
    background-color: #F0F2F4;
}

#root {
    height: 100%;
}

.App-body {
    text-align: center;
    height: 100%;
}

.App {
    text-align: center;
    height: 100%;
}

.App-body > .play-button {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1000;
    border-color: #535353;
    color: #535353;
    background-color: transparent;
}

.App-body > .play-button:hover {
    border-color: transparent;
    color: white;
    background-color: #535353;
    opacity: 1;
}

.App-body > .play-button:hover > .play-text {
    color: white;
}

.play-button.scrolled {
    border-radius: 50%;
    border-color: #949596;
    padding: 0 11px;
}

.play-button.scrolled:hover {
    background-color: #949596;
}

.play-button.scrolled > .play-text {
    display: none;
}

.play-button.scrolled > i.play-icon {
    color: #949596;
    margin-left: 0;
}

.play-button.scrolled:hover > i.play-icon {
    color: white;
}

.language-selector {
    position: fixed;
    top: 5px;
    left: 10px;
    width: 55px;
    height: 45px;
    z-index: 1000;
    text-align: left;
    cursor: pointer;
}

.language-selector > span {
    color: #949596;
}

.language-selector > .selected {
    color: #252525;
    font-size: 1.2em;
}

.language-selector > .fr {
    position: absolute;
    top: 20px;
    left: 32px;
}

.language-selector > .separator {
    position: absolute;
    top: 21px;
    left: 9px;
    width: 33px;
    height: 1px;
    transform: rotate(-45deg);
    background-color: #252525;
}

.language-selector.scrolled > .span {
    color: #949596;
}

.language-selector.scrolled > .selected {
    color: #FFFBFB;
}

.language-selector.scrolled > .separator {
    background-color: #FFFBFB;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    background-color: #171717;
}

.tabs.fixed {
    position: fixed;
    top: 0;
    z-index: 2;
}

.tabs.fixed > .triangle {
    display: none;
}

.tabs > .tab {
    flex: 1;
    padding: 10px 0;
    transition: padding 0.2s;
}

.tab > span {
    position: relative;
    display: inline-block;
    padding-top: 8px;
    color: #949596;
    font-size: 2.5em;
    font-family: Roboto;
    font-weight: 300;
    cursor: pointer;
    transition: font-size 0.2s, padding-top 0.2s;
}

.fixed .tab > span {
    font-size: 1.8em;
    padding-top: 5px;
}

.tab > span::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 8px;
    color: #F0F2F4;
    max-width: 0;
    white-space: nowrap;
    content: attr(data-hover);
    transition: max-width 0.5s;
}

.fixed .tab > span::before {
    padding-top: 5px;
}

.tab > span:hover::before {
    max-width: 100%;
}

.tab.selected > span {
    color: #F0F2F4;
}

.triangle {
    position: absolute;
    left: calc(30% - 15px);
    bottom: -10px;
    font-size: 2.2em;
    color: #F0F2F4;
    transition: left 0.4s, color 0.4s;
}

.on-organiser {
    left: calc(70% - 15px);
}

.ant-list-split .ant-list-item,
.ant-list-split .ant-list-header {
    border: none;
}
